body{
    /* background-color: darkcyan; */
    background-image: url('trello.jpg');
}
h1{
text-align: center;
color: whitesmoke;
}
#myForm{
    margin-left: 2em;
    justify-content: center;
    margin-top: 1em;
}
#text{
    /* width: 10%; */
    height: 20%;
    justify-content: center;
}
#btn
{   justify-content: center;
    margin-left:1em;
}